@model OSModel


<h2 class="mt-2">Cadastrar Nova OS</h2>

@if (TempData["OSExistente"] != null)
{
    <div class="alert alert-warning">
        @TempData["OSExistente"]
    </div>
}

<form asp-action="Create">
   
    <div class="form-group">
        <label asp-for="TituloServico" class="control-label">Titulo do Serviço</label>
        <input asp-for="TituloServico" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CNPJ" class="control-label"></label>
        <input asp-for="CNPJ" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NomeDoCliente" class="control-label">Nome do Cliente</label>
        <input asp-for="NomeDoCliente" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CPF" class="control-label"></label>
        <input asp-for="CPF" class="form-control" />
    </div>
    <div class="form-group d-flex flex-row justify-content-between">
        <div class="d-flex flex-column w-100 me-2">
            <label asp-for="NomeDoPrestador" class="control-label">Nome do Prestador</label>
            <input asp-for="NomeDoPrestador" class="form-control w-100" />
        </div>
        <div class="d-flex flex-column">
            <label asp-for="DataExecucaoServico" class="control-label">Data de Execução do Serviço</label>
            <input asp-for="DataExecucaoServico" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ValorDoServico" class="control-label">Valor do Seviço</label>
        <input asp-for="ValorDoServico" class="form-control" />
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Salvar" class="btn mt-3" style="background-color: #8fbc8f; color: white;" />
    </div>


</form>